/* header style */

.header{
    background-color:#0B0B1C;
}

.main-bio{
    padding-top: 120px;
}

.head{
    align-items: center;
}

.bio{
    color: #e4e3e4B6;
    font-weight: 400;
}

.bio-name{
    color: #8e8d11;
    font-weight: 800;
}

.bio-name:hover{
    opacity: 0.7;
}
/* End of header style */

/* Icon style */
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 50px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.3;
    color: #E4E3B6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #3B5998;
  color: white;
}
/* End of Icon style */

/* Experience style */
.experience{
    background-color: #262737;
    padding: 75px 0 75px 0 ;
}

.history{
    color: #E4E3B6;

}

.story{
    margin: 50px 0 ;
}
.child{
    margin: auto;
    align-items: center;
    text-align: center;
}

.child h1{
    color: #8e8d11;
}
.child p{
    text-align: center;
    padding-top: 15px;
}

.list-group{
    color: #E4E3B6;
}

.list-group-item{
    background-color:  #262737;
    border: 4px solid rgba(0, 0, 0, 0.125);
    font-size: 13pt;
    font-weight: 550;
}

.year{
    font-size: 12pt;
    font-weight: 450;
}

/* End of experience style */

/* Footer */
.footer{
    padding: 15px 0 15px 0;
    text-align: center;
    background-color: #363530 ;
    color: #E4E3B6;
}